<!--ftheeten-->
<div class="row">
   <div class="col-md-2">
		<img class="align-top" src="https://cartesius.africamuseum.be/geonetwork/images/harvesting/MRAC_logo.png" style="width:200px;height:84px"></img>
	</div>
	<div class="col-md-8"><h2 style="text-align:center;color: #3277B3;">  {{'presentation' | translate}}</h2></div>
  	<div class="col-md-2">
		<img class="salign-top "style="width:190px;height:40px; margin-left:50px; margin-top:10px"  src="https://cartesius.africamuseum.be/geonetwork/images/harvesting/CBD_logo_FR_CMYK.jpg"></img>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="text-center">
				 
				<a class="btn "
				  type="button"
				  data-ng-href="#/searchtext"
				  style="background-color:#F69D44;color:white;">              
				  {{'search_text' | translate}}
				</a>
				<a class="btn  "
				  type="button"
				  data-ng-href="#/understand"
				  style="background-color:#F69D44;color:white;">              
				  {{'understand' | translate}}
				</a>
				<a class="btn "
				  type="button"
				  data-ng-href="#/collaborate"
				  style="background-color:#F69D44;color:white;">              
				  {{'collaborate' | translate}}
				</a>
                <a class="btn "
				  type="button"
				  data-ng-href="#/faq"
				  style="background-color:#F69D44;color:white;">              
				  {{'faq' | translate}}
				</a>
                <a class="btn "
				  type="button"
				  data-ng-href="#/help"
				  style="background-color:#F69D44;color:white;">              
				  {{'help' | translate}}
				</a>
                 <a class="btn "
				  type="button"
				  data-ng-href="#/contactus"
				  style="background-color:#F69D44;color:white;">              
				  {{'contactus' | translate}}
				</a>
				
			</div>
	</div> 
</div>